# Ignorar carpeta de compilación
build/

# Ignorar carpeta de código de arranque
startup/

# Ignorar carpeta generada por Doxygen
docs/Doxyfolder/

# (Opcional) Ignorar archivos generados por cscope
cscope.out

# (Opcional) Ignorar configuración de VSCode (si es personal)
.vscode/
